<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>妙小程1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-3}</string>
                <key>spriteSize</key>
                <string>{88,146}</string>
                <key>spriteSourceSize</key>
                <string>{140,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{88,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妙小程10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{122,148}</string>
                <key>spriteSourceSize</key>
                <string>{140,160}</string>
                <key>textureRect</key>
                <string>{{1,317},{122,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妙小程11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{116,148}</string>
                <key>spriteSourceSize</key>
                <string>{140,160}</string>
                <key>textureRect</key>
                <string>{{325,205},{116,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妙小程12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{140,160}</string>
                <key>textureRect</key>
                <string>{{1,203},{112,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妙小程13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-3}</string>
                <key>spriteSize</key>
                <string>{102,154}</string>
                <key>spriteSourceSize</key>
                <string>{140,160}</string>
                <key>textureRect</key>
                <string>{{147,99},{102,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妙小程14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-4}</string>
                <key>spriteSize</key>
                <string>{98,152}</string>
                <key>spriteSourceSize</key>
                <string>{140,160}</string>
                <key>textureRect</key>
                <string>{{316,1},{98,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妙小程2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-2}</string>
                <key>spriteSize</key>
                <string>{98,144}</string>
                <key>spriteSourceSize</key>
                <string>{140,160}</string>
                <key>textureRect</key>
                <string>{{1,91},{98,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妙小程3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{102,146}</string>
                <key>spriteSourceSize</key>
                <string>{140,160}</string>
                <key>textureRect</key>
                <string>{{303,101},{102,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妙小程4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{128,142}</string>
                <key>spriteSourceSize</key>
                <string>{140,160}</string>
                <key>textureRect</key>
                <string>{{1,441},{128,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妙小程5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{128,146}</string>
                <key>spriteSourceSize</key>
                <string>{140,160}</string>
                <key>textureRect</key>
                <string>{{145,445},{128,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妙小程6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{132,150}</string>
                <key>spriteSourceSize</key>
                <string>{140,160}</string>
                <key>textureRect</key>
                <string>{{149,581},{132,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妙小程7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{124,146}</string>
                <key>spriteSourceSize</key>
                <string>{140,160}</string>
                <key>textureRect</key>
                <string>{{151,319},{124,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妙小程8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{128,146}</string>
                <key>spriteSourceSize</key>
                <string>{140,160}</string>
                <key>textureRect</key>
                <string>{{293,451},{128,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妙小程9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,148}</string>
                <key>spriteSourceSize</key>
                <string>{140,160}</string>
                <key>textureRect</key>
                <string>{{299,323},{126,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妙小程丢垃圾1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{112,170}</string>
                <key>spriteSourceSize</key>
                <string>{130,170}</string>
                <key>textureRect</key>
                <string>{{153,205},{112,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妙小程丢垃圾2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{130,146}</string>
                <key>spriteSourceSize</key>
                <string>{130,170}</string>
                <key>textureRect</key>
                <string>{{1,575},{130,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妙小程摔倒1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{136,145}</string>
                <key>spriteSourceSize</key>
                <string>{140,145}</string>
                <key>textureRect</key>
                <string>{{301,581},{136,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>妙小程摔倒了.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,96}</string>
                <key>spriteSourceSize</key>
                <string>{165,96}</string>
                <key>textureRect</key>
                <string>{{149,1},{165,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>mxc.png</string>
            <key>size</key>
            <string>{474,718}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a56bcc962b7b3a4bcda48760c056c093:39e08fea70aab88cd39f6e651ba9cef4:32d6fe4616759874ab05a3d5fb162a82$</string>
            <key>textureFileName</key>
            <string>mxc.png</string>
        </dict>
    </dict>
</plist>
